USE [QLCHBG]
GO
/****** Object:  Table [dbo].[tBillOfSale]    Script Date: 11/9/2022 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBillOfSale](
	[CodeBill] [nvarchar](50) NOT NULL,
	[DateSale] [date] NULL,
	[PaymentMethods] [nvarchar](50) NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[CustomerCode] [nvarchar](50) NULL,
	[Discount] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tCategory]    Script Date: 11/9/2022 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCategory](
	[CategoryCode] [nvarchar](50) NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Origin] [nvarchar](50) NULL,
 CONSTRAINT [PK_tCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tCustomer]    Script Date: 11/9/2022 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCustomer](
	[CustomerCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Point] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDetailBillOfSale]    Script Date: 11/9/2022 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDetailBillOfSale](
	[DetailProductCode] [nvarchar](50) NOT NULL,
	[CodeBill] [nvarchar](50) NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_tDetailBillOfSale] PRIMARY KEY CLUSTERED 
(
	[DetailProductCode] ASC,
	[CodeBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDetailImportBill]    Script Date: 11/9/2022 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDetailImportBill](
	[DetailProductCode] [nvarchar](50) NOT NULL,
	[CodeBill] [nvarchar](50) NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_tDetailImportBill] PRIMARY KEY CLUSTERED 
(
	[DetailProductCode] ASC,
	[CodeBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tDetailProduct]    Script Date: 11/9/2022 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDetailProduct](
	[DetailProductCode] [nvarchar](50) NOT NULL,
	[ProductCode] [nvarchar](50) NULL,
	[Size] [nvarchar](20) NULL,
	[Color] [nvarchar](20) NULL,
	[ImportPrice] [money] NULL,
	[Price] [money] NULL,
	[Quantity] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tDetailProduct] PRIMARY KEY CLUSTERED 
(
	[DetailProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tEmployee]    Script Date: 11/9/2022 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEmployee](
	[EmployeeCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ID] [nvarchar](20) NULL,
	[Gender] [nvarchar](10) NULL,
	[DOB] [date] NULL,
	[Address] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[UserName] [nvarchar](50) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tImportBill]    Script Date: 11/9/2022 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tImportBill](
	[CodeBill] [nvarchar](50) NOT NULL,
	[DateImport] [date] NULL,
	[EmployeeCode] [nvarchar](50) NULL,
	[ProviderCode] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CodeBill] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tLogin]    Script Date: 11/9/2022 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLogin](
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [nvarchar](20) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tProduct]    Script Date: 11/9/2022 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tProduct](
	[ProductCode] [nvarchar](50) NOT NULL,
	[NameProduct] [nvarchar](50) NULL,
	[Image] [nvarchar](50) NULL,
	[CategoryCode] [nvarchar](50) NULL,
 CONSTRAINT [PK__tProduct__2F4E024E92219230] PRIMARY KEY CLUSTERED 
(
	[ProductCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tProvider]    Script Date: 11/9/2022 3:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tProvider](
	[ProviderCode] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProviderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tBillOfSale] ([CodeBill], [DateSale], [PaymentMethods], [EmployeeCode], [CustomerCode], [Discount]) VALUES (N'HDB01', CAST(N'2022-01-29' AS Date), N'Tiền Mặt', N'NV01', N'KH01', NULL)
INSERT [dbo].[tBillOfSale] ([CodeBill], [DateSale], [PaymentMethods], [EmployeeCode], [CustomerCode], [Discount]) VALUES (N'HDB02', CAST(N'2022-02-14' AS Date), N'Banking', N'NV01', N'KH02', NULL)
INSERT [dbo].[tBillOfSale] ([CodeBill], [DateSale], [PaymentMethods], [EmployeeCode], [CustomerCode], [Discount]) VALUES (N'HDB03', CAST(N'2022-03-01' AS Date), N'Quẹt Thẻ', N'NV02', N'KH03', NULL)
GO
INSERT [dbo].[tCategory] ([CategoryCode], [Brand], [Origin]) VALUES (N'ATQ', N'Adidas', N'Trung Quốc')
INSERT [dbo].[tCategory] ([CategoryCode], [Brand], [Origin]) VALUES (N'BVN', N'Biti''s', N'Việt Nam')
INSERT [dbo].[tCategory] ([CategoryCode], [Brand], [Origin]) VALUES (N'NTQ', N'Nike', N'Trung Quốc')
GO
INSERT [dbo].[tCustomer] ([CustomerCode], [Name], [Gender], [Address], [PhoneNumber], [Point]) VALUES (N'KH01', N'Nguyễn Quỳnh Mai', N'Nữ', N'Hà Nội', N'0395461255', NULL)
INSERT [dbo].[tCustomer] ([CustomerCode], [Name], [Gender], [Address], [PhoneNumber], [Point]) VALUES (N'KH02', N'Trần Hải An', N'Nam', N'Hà Nội', N'0354785566', NULL)
INSERT [dbo].[tCustomer] ([CustomerCode], [Name], [Gender], [Address], [PhoneNumber], [Point]) VALUES (N'KH03', N'Lê Thái Bình', N'Nam', N'Thái Bình', N'0365544778', NULL)
GO
INSERT [dbo].[tDetailBillOfSale] ([DetailProductCode], [CodeBill], [Quantity]) VALUES (N'AAB10D40', N'HDB04', 5)
INSERT [dbo].[tDetailBillOfSale] ([DetailProductCode], [CodeBill], [Quantity]) VALUES (N'AAB10T41', N'HDB02', 3)
INSERT [dbo].[tDetailBillOfSale] ([DetailProductCode], [CodeBill], [Quantity]) VALUES (N'AR2D40', N'HDB01', 2)
GO
INSERT [dbo].[tDetailImportBill] ([DetailProductCode], [CodeBill], [Quantity]) VALUES (N'AAB10D40', N'HDN01', 100)
INSERT [dbo].[tDetailImportBill] ([DetailProductCode], [CodeBill], [Quantity]) VALUES (N'AAB10D41', N'HDN02', 120)
INSERT [dbo].[tDetailImportBill] ([DetailProductCode], [CodeBill], [Quantity]) VALUES (N'AAB10T40', N'HDN03', 150)
GO
INSERT [dbo].[tDetailProduct] ([DetailProductCode], [ProductCode], [Size], [Color], [ImportPrice], [Price], [Quantity], [Status]) VALUES (N'AAB10D40', N'AAB10', N'40', N'Đen', 1000000.0000, 2000000.0000, 200, 1)
INSERT [dbo].[tDetailProduct] ([DetailProductCode], [ProductCode], [Size], [Color], [ImportPrice], [Price], [Quantity], [Status]) VALUES (N'AAB10D41', N'AAB10', N'41', N'Đen', 1000000.0000, 2000000.0000, 200, 1)
INSERT [dbo].[tDetailProduct] ([DetailProductCode], [ProductCode], [Size], [Color], [ImportPrice], [Price], [Quantity], [Status]) VALUES (N'AAB10T40', N'AAB10', N'40', N'Trắng', 1200000.0000, 2200000.0000, 200, 1)
GO
INSERT [dbo].[tEmployee] ([EmployeeCode], [Name], [ID], [Gender], [DOB], [Address], [PhoneNumber], [UserName], [Status]) VALUES (N'NV01', N'Lê Hải Minh', N'001202000336', N'Nam', CAST(N'2000-04-10' AS Date), N'Hà Nội', N'0396557712', N'lehaiminh', 1)
INSERT [dbo].[tEmployee] ([EmployeeCode], [Name], [ID], [Gender], [DOB], [Address], [PhoneNumber], [UserName], [Status]) VALUES (N'NV02', N'Nguyễn Bình Minh', N'001204000558', N'Nam', CAST(N'1999-04-08' AS Date), N'Hà Nội', N'0395541122', N'nguyenbinhminh', 1)
GO
INSERT [dbo].[tImportBill] ([CodeBill], [DateImport], [EmployeeCode], [ProviderCode]) VALUES (N'HDN01', CAST(N'2022-01-25' AS Date), N'NV01', N'NCC01')
INSERT [dbo].[tImportBill] ([CodeBill], [DateImport], [EmployeeCode], [ProviderCode]) VALUES (N'HDN02', CAST(N'2022-02-14' AS Date), N'NV02', N'NCC02')
INSERT [dbo].[tImportBill] ([CodeBill], [DateImport], [EmployeeCode], [ProviderCode]) VALUES (N'HDN03', CAST(N'2022-03-16' AS Date), N'NV02', N'NCC02')
GO
INSERT [dbo].[tLogin] ([UserName], [Password], [Role], [Status]) VALUES (N'admin', N'123456', N'admin', 1)
INSERT [dbo].[tLogin] ([UserName], [Password], [Role], [Status]) VALUES (N'lehaiminh', N'123456', N'employee', 1)
INSERT [dbo].[tLogin] ([UserName], [Password], [Role], [Status]) VALUES (N'nguyenbinhminh', N'123456', N'employee', 1)
GO
INSERT [dbo].[tProduct] ([ProductCode], [NameProduct], [Image], [CategoryCode]) VALUES (N'AAB10', N'Adidas Adizero Boston 10', N'aab10.jpg', N'ATQ')
INSERT [dbo].[tProduct] ([ProductCode], [NameProduct], [Image], [CategoryCode]) VALUES (N'AR2', N'Adidas Runfalcon 2.0', N'ar2.jpg', N'ATQ')
INSERT [dbo].[tProduct] ([ProductCode], [NameProduct], [Image], [CategoryCode]) VALUES (N'AU20', N'Adidas Ultraboost 20', N'au20', N'ATQ')
GO
INSERT [dbo].[tProvider] ([ProviderCode], [Name], [Address]) VALUES (N'NCC01', N'CTTNHH Giày Thành Công', N'Hà Nội')
INSERT [dbo].[tProvider] ([ProviderCode], [Name], [Address]) VALUES (N'NCC02', N'CTTNHH Giày True Sport', N'Thanh Hóa')
GO
ALTER TABLE [dbo].[tBillOfSale]  WITH CHECK ADD FOREIGN KEY([CustomerCode])
REFERENCES [dbo].[tCustomer] ([CustomerCode])
GO
ALTER TABLE [dbo].[tBillOfSale]  WITH CHECK ADD FOREIGN KEY([EmployeeCode])
REFERENCES [dbo].[tEmployee] ([EmployeeCode])
GO
ALTER TABLE [dbo].[tDetailBillOfSale]  WITH CHECK ADD  CONSTRAINT [FK_tDetailBillOfSale_tBillOfSale] FOREIGN KEY([CodeBill])
REFERENCES [dbo].[tBillOfSale] ([CodeBill])
GO
ALTER TABLE [dbo].[tDetailBillOfSale] CHECK CONSTRAINT [FK_tDetailBillOfSale_tBillOfSale]
GO
ALTER TABLE [dbo].[tDetailBillOfSale]  WITH CHECK ADD  CONSTRAINT [FK_tDetailBillOfSale_tDetailProduct] FOREIGN KEY([DetailProductCode])
REFERENCES [dbo].[tDetailProduct] ([DetailProductCode])
GO
ALTER TABLE [dbo].[tDetailBillOfSale] CHECK CONSTRAINT [FK_tDetailBillOfSale_tDetailProduct]
GO
ALTER TABLE [dbo].[tDetailImportBill]  WITH CHECK ADD  CONSTRAINT [FK_tDetailImportBill_tDetailProduct] FOREIGN KEY([DetailProductCode])
REFERENCES [dbo].[tDetailProduct] ([DetailProductCode])
GO
ALTER TABLE [dbo].[tDetailImportBill] CHECK CONSTRAINT [FK_tDetailImportBill_tDetailProduct]
GO
ALTER TABLE [dbo].[tDetailImportBill]  WITH CHECK ADD  CONSTRAINT [FK_tDetailImportBill_tImportBill] FOREIGN KEY([CodeBill])
REFERENCES [dbo].[tImportBill] ([CodeBill])
GO
ALTER TABLE [dbo].[tDetailImportBill] CHECK CONSTRAINT [FK_tDetailImportBill_tImportBill]
GO
ALTER TABLE [dbo].[tDetailProduct]  WITH CHECK ADD  CONSTRAINT [FK_tDetailProduct_tProduct] FOREIGN KEY([ProductCode])
REFERENCES [dbo].[tProduct] ([ProductCode])
GO
ALTER TABLE [dbo].[tDetailProduct] CHECK CONSTRAINT [FK_tDetailProduct_tProduct]
GO
ALTER TABLE [dbo].[tEmployee]  WITH CHECK ADD FOREIGN KEY([UserName])
REFERENCES [dbo].[tLogin] ([UserName])
GO
ALTER TABLE [dbo].[tImportBill]  WITH CHECK ADD FOREIGN KEY([EmployeeCode])
REFERENCES [dbo].[tEmployee] ([EmployeeCode])
GO
ALTER TABLE [dbo].[tImportBill]  WITH CHECK ADD FOREIGN KEY([ProviderCode])
REFERENCES [dbo].[tProvider] ([ProviderCode])
GO
ALTER TABLE [dbo].[tProduct]  WITH CHECK ADD  CONSTRAINT [FK_tProduct_tCategory] FOREIGN KEY([CategoryCode])
REFERENCES [dbo].[tCategory] ([CategoryCode])
GO
ALTER TABLE [dbo].[tProduct] CHECK CONSTRAINT [FK_tProduct_tCategory]
GO
